<%= form_with(model: @saved_game, local: true) do |form| %>
  <!-- If you have other fields related to saved_game, include them here -->

  <div class="field">
    <%= form.label :character_name, 'Character Name' %>
    <%= form.text_field :character_name %>
  </div>

  <div class="actions">
    <%= form.submit "Save Game" %>
  </div>
<% end %>

<%= link_to 'Back to Saved Games', menu_index_path %>

